body {
	background: url(../images/tileable-midnight-blue-grunge-patterns-11.jpg);
}

.wrapper {
	width: 65%;
	margin: auto;
	color: #000066;
}

header {
	background-color: #ffd9b3;
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	text-align: center;
	padding: 20px 0 20px 0;
}

.instructions {
	background-color: #ffcccc;
	font-size: 20px;
}

.instructions p {
	padding: 10px;
}

#random-num {
	width: 20%; 
	height: 65px;
	background-color: #80d4ff;
	font-size: 30px;
	text-align: center;
	padding-top: 35px;
	float: left;
	margin: 15px;
}

.score {
	width: 20%;
    height: 100px;
    float: left;
    background-color: #ffb3ff;
    font-size: 20px;
    margin: 15px;
}

.score p {
	padding: 15px 15px 8px 15px;
}

#end-display {
	width: 40%;
    height: 70px;
    float: right;
    margin: 15px;
    font-size: 35px;
    /*background: url(../images/pow-star.png);*/
    text-align: center;
    padding-top: 30px;
}

#crystals {
	clear: left;
}

.crystal-image {
	float: left;
	margin: 10px;
}

.image {
	width: 100px;
	height: 100px;
}

.user-score {
	background-color: #b3ffb3;
	clear: both;
	padding: 10px;
	width: 15%;
	float: left;
	margin-right: 10px;
	font-size: 20px;
	width: 20%;
	margin: 15px;
}

#total-score {
	background-color: #b3ffb3;
	float: left;
	margin: 15px;
	height: 65px;
	font-size: 30px;
	text-align: center;
	padding-top: 35px;
}

